{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h4>Change password</h4>
    {% if user.is_authenticated %}
        <form method="post"
              action="{% url 'password_change' %}"
              style="padding-bottom:15px">
            {% csrf_token %}
            <table style="margin-bottom:15px">
                <tr>
                    <td>Old password:</td>
                    <td>{{ form.old_password }}</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>
            _
            <button type="submit" class="btn btn-outline-primary">Submit</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
    {% if form.errors %}
        <div class="alert alert-warning col-sm-8" role="alert">
            {% for error in form.errors.values %}<p>{{ error }}</p>{% endfor %}
        </div>
    {% endif %}
{% endblock %}
